body {
    width: 800px;
    margin: 0 auto;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.perfiles {
    display: table;
}

.heading {
    display: table-caption;
}

.cv-perfiles {
    display: table-cell;
    padding: 20px;
}
