body {
    width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
